.logo {
  margin-top: 8px;
  width: 60px;
  height: 50px;
}

.logo:hover {
  opacity: .5;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-color: $pri;
}

i.globe {
  font-size: 700%;
}

.center {
  width: 100%;
  text-align: center;
}
