.container {
  width: 960px;
  margin: 0 auto;
}

.landing {
  background:
        linear-gradient(to bottom, rgba($pri, .3), rgba($white, .5)),
        url('./images/bg.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.loginLanding {
  background:
        linear-gradient(to bottom, rgba($pri, .3), rgba($sec, .4)),
        url('./images/girl.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.nav {
  .title {
    float:left;
    display: inline-block;
  }
  .nav-tabs {
    float: right;
    display: inline-block;
    padding-top: 2%;
    font-weight: bold;
    font-size: 110%;
  }
  .tabs {
    margin-left: 20px;
  }
}

#map {
  width: 80%;
  margin: 0 auto;
}

.intro {
  width: 500px;
  padding-top: 14em;
  h1 {
    display: inline-block;
  }
}

.footer {
  width: 100%;
  height: 3em;
  background: $cuar;
  .nav-tabs, .title {
    float: right;
    display: inline-block;
    padding-left: 2%;
    padding-top: 1%;
    font-weight: bold;
    font-size: 110%;
  }
  .title {
    padding-left: 0;
    float: left;
  }
  .tabs {
    margin-left: 20px;
  }
}

.mapTitle {
  text-align: center;
  margin-bottom: 0;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: rgba($sec, .9);
}

.ui.grid.signup {
  height: 600px;
  padding-top: 10em;
  margin: 0 auto;
  .info {
    padding-left: 2em;
    border-radius: 10px 0 0 10px;
    background-color: rgba($sec, .8);
    height: 100%;
  }
  .formBox {
    border-radius: 0 10px 10px 0;
    background-color: rgba($sec, .8);
    height: 100%;
    .input {
      padding-top: 1em;
      width: 100%;
      height: 80%;
    }
    .oauth {
      width: 100%;
      height: 20%;
      text-align: center;
      padding-top: 1em;
    }
  }
}

.profile {
  width: 100%;
  height: 200px;
}

.profileLogo {
  // position: absolute;
  // bottom: 20px;
  // left: 23px;
  width: 40px;
  height: 35px;
  margin: 1.5em;
}

.profileName {
  text-align: center;
}

.tab {
  padding: 2em;
}

.ui.tab.display{
  height: 95vh;
  overflow: scroll;
}

.tabular.menu.fullScreen {
  height: 98vh;
  overflow: scroll;
}

.profile td {
  padding-right: 1em;
}

.profile {
  height: auto;
}

// ################### map

h3.mapTitle {
  display: inline-block;
}

.keys {
  margin: 2em;
  display: block;
}

.key {
  display: inline-block;
  .keyTitle {
    display: inline-block;
    font-weight: bold;
  }
  .keyColor {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 20px;
    display: inline-block;
  }
  .want {
    background-color: $quin;
  }
  .visited {
    background-color: $blue;
  }
  .lived {
    background-color: $pri;
  }
}

.aboutMe {
  white-space: pre;
}

.packages {
  margin: 2em;
}
