.landing
  .container
    .nav
      .title
        a(href='/')
          img(class='logo', src='./images/llama.png')
      .nav-tabs
        a(class='tabs' href='/search') Join
        a(class='tabs' href='/login') Log In
.map(my-map)
