.nav
  .container
    .title
      a(href='/')
        img(class='logo', src='./images/llama.png')
    .nav-tabs
      a(class='tabs' href='/signup') Join
      a(ng-click="modal()" class='tabs' href='#') Log In
.landing
  .container
    .intro
      h1 Find a guide.
      h1 Be a guide.
      div.text
        | Imagine having a friend in every country of the world. Now you can.
        br
        | Here you will find llamas all over the world that will offer you tips
        | on where to stay, what to eat, what to do and what not to do.
        br
        | Check it out.
        br
        | Where would you like to go?
      form(action="/search" method="get")
        input(class="startSearch" name="country" type="text" placeholder="Search Country")
h1.mapTitle Find A Llama
#map
#particles-js
.footer
  .container
    .footerNav
      .title
        i(class="fa fa-copyright")
        |  Local Llamas
      .nav-tabs
        a( href='http://github.com/bertoort/llama-local') 
          i.tabs.github.icon 
          | Repo
        a( href='http://bertoort.com') 
          i.tabs.globe.icon
          | Author
.ui.basic.modal.home
  i.close.icon
  .header
    | Log in
  .image.content
    .image
      i.cloud.icon
    .description(style="width: 100%")
      form.ui.form(action='/login' method='/post')
        .field
          input.full(type='text', name='email', placeholder='Email')
        .field
          input.full(type='password', name='password', placeholder='Password')
        button.ui.green.inverted.basic.button(type='submit') Submit
  .actions
    .two.fluid.ui.inverted.buttons
      .ui.facebook.button
        i.facebook.icon
        |         Facebook
      .ui.instagram.button
        i.instagram.icon
        |         Instagram
script(src='/map/allmap.min.js')
script(src='/particles/allparticles.min.js')
