.landing
  .container
    .nav
      .title
        a(href='/')
          img(class='logo', src='./images/llama.png')
      .nav-tabs
        a(class='tabs' href='/search') Join
        a(class='tabs' href='/login') Log In
    .intro
      h1 Find a guide. Be a guide.
      | Imagine having a friend in every country of the world. Now you can.
      br
      | Here you will find llamas all over the world that will offer you tips
      | on where to stay, what to eat, what to do and what not to do.
      br
      | Interested?
      br
      | Where would you like to go?
    input(class="startSearch" type="text" placeholder="Search Country")
h1.mapTitle Find A Llama
#map
.footer
  .container
    .nav
      .nav-tabs
        a(class='tabs' href='/search') Join
        a(class='tabs' href='/login') Log In
script(src='/map/allmap.min.js')
