.navbar-fixed.nav
  .container
    .title
      a(href='/')
        img(class='logo', src='./images/llama.png')
    .nav-tabs
      a(class='tabs' href='/signup') Join
      a(class='tabs' href='#') Log In
h1 Searching...
