.nav
  .container
    .title
      a(href='/')
        img(class='logo', src='./images/llama.png')
    .nav-tabs
      a(ng-click="modal()" class='tabs' href='#') Log In
.loginLanding
  .container
    .signup.ui.grid
      .info.sixteen.wide.tablet.eight.wide.computer.column
        | hello
      .formBox.sixteen.wide.tablet.eight.wide.computer.column
        .input
          h3 Connect
          form.ui.form(action='/login' method='/post')
            .field
              input.full(type='text', name='email', placeholder='Email')
            .field
              input.full(type='password', name='password', placeholder='Password')
            .field
              input.full(type='password', name='confirm', placeholder='Confirm Password')
            button.ui.inverted.button(type='submit') Submit
        hr
        .oauth
          .ui.facebook.button
            i.facebook.icon
            |         Facebook
          .ui.instagram.button
            i.instagram.icon
            |         Instagram
.ui.basic.modal
  i.close.icon
  .header
    | Log in
  .image.content
    .image
      i.cloud.icon
    .description(style="width: 100%")
      form.ui.form(action='/login' method='/post')
        .field
          input.full(type='text', name='email', placeholder='Email')
        .field
          input.full(type='password', name='password', placeholder='Password')
        button.ui.green.inverted.basic.button(type='submit') Submit
  .actions
    .two.fluid.ui.inverted.buttons
      .ui.facebook.button
        i.facebook.icon
        |         Facebook
      .ui.instagram.button
        i.instagram.icon
        |         Instagram
