button.collapsedMenu(ng-click="sidebar()") &#9776;
.ui.left.sidebar.vertical.menu
  .ui.vertical.fluid.tabular.menu
    .profile
      .profileImage
    h3 {{user.name}}
    a.item.active(ng-click="sidebar()" data-tab="bio")
      i.user.icon
      | Bio
    a.item(ng-click="sidebar()" data-tab="packages")
      i.gift.icon
      | Packages
    a.item(ng-click="sidebar()" data-tab="badges")
      i.empty.star.icon
      | References
    a.item(ng-click="sidebar()" data-tab="blog")
      i.list.layout.icon
      | Blog
    a.item(ng-click="sidebar()" data-tab="conversations")
      i.comments.icon
      | Conversations
    a.item(ng-click="sidebar()" data-tab="world")
      i.users.icon
      | Connections
    a.item(ng-click="sidebar()" data-tab="settings")
      i.settings.icon
      | Settings
    a(href='/')
      img(class='profileLogo', src='./images/llama.png')
.ui.grid
  .four.wide.computer.column
    .ui.vertical.fluid.tabular.menu.fullScreen
      .profile
        .profileImage
      h3.profileName {{user.name}}
      a.item.active(ng-mouseover="tab()" data-tab="bio")
        i.user.icon
        | Bio
      a.item(ng-mouseover="tab()" data-tab="packages")
        i.gift.icon
        | Packages
      a.item(ng-mouseover="tab()" data-tab="badges")
        i.empty.star.icon
        | References
      a.item(ng-mouseover="tab()" data-tab="blog")
        i.list.layout.icon
        | Blog
      a.item(ng-mouseover="tab()" data-tab="conversations")
        i.comments.icon
        | Conversations
      a.item(ng-mouseover="tab()" data-tab="connections")
        i.users.icon
        | Connections
      a.item(ng-mouseover="tab()" data-tab="settings")
        i.settings.icon
        | Settings
      a(href='/')
        img(class='profileLogo', src='./images/llama.png')
  .twelve.wide.computer.sixteen.wide.tablet.stretched.column
    .ui.tab.display.active(data-tab="bio")
      .ui.sixteen.column.grid
        .row
          h2 {{user.headline}}
        .row
          .sixteen.wide.column.profile
            table
              tr(ng-show="user.name")
                td
                  h4 Name: 
                td 
                  | {{user.name}}
                td
              tr(ng-show="user.country")
                td
                  h4 Country:
                td 
                  | {{user.country}}
              tr(ng-show="user.language")
                td
                  h4 Language:
                td 
                  | {{user.language}}
              tr(ng-show="user.email")
                td
                  h4 Contact:
                td 
                  | {{user.email}}
              tr
                td
                  h4 About me:
        .row
          .sixteen.wide.column
            .ui.segment {{user.about}}
        .row
          .sixteen.wide.column
            h3.mapTitle My World
            .keys
              .key
                .keyColor.visited
                .keyTitle
                  | Visited
              .key
                .keyColor.lived
                .keyTitle
                  | Lived
              .key
                .keyColor.want
                .keyTitle
                  | Someday
            #personalMap
    .ui.tab.display(data-tab="badges")
      h3 These are my reviews
      .ui.items
        .item
          .givenBadge
            i.student.icon.ui.big
          .content
            a.header Stevie Feliciano
            .description
              p
                | Stevie Feliciano is a 
                a library scientist
                |  living in New York City. She likes to spend her time reading, running, and writing.
        .item
          .givenBadge
            i.spy.icon.ui.big
          .content
            a.header Veronika Ossi
            .description
              p
                | Veronika Ossi is a set designer living in New York who 
                a enjoys
                |  kittens, music, and partying.
        .item
          .givenBadge
            i.heart.icon.ui.big
          .content
            a.header Jenny Hess
            .description
              p
                | Jenny is a student studying Media Management at 
                a the New School
                | .
      form.ui.reply.form(ng-show="addingReview")
        h3 New Review
        .field
          .ui.segment
            label(for="coffee" ng-class="{'selectedBadge': isChecked == 1}")
              i.big.badge.coffee.icon
              input.badgeRadio(id='coffee' type='radio' ng-model='isChecked' name='badge' value='1')
            label(for="food" ng-class="{'selectedBadge': isChecked == 2}")
              i.big.badge.food.icon
              input.badgeRadio(id='food' type='radio' ng-model='isChecked' name='badge' value='2')
            label(for="heart" ng-class="{'selectedBadge': isChecked== 3}")
              i.big.badge.heart.icon
            input.badgeRadio(id='heart' type='radio' ng-model='isChecked' value='3' name='badge')
            label(for="angellist" ng-class="{'selectedBadge': isChecked== 4}")
              i.big.badge.angellist.icon
            input.badgeRadio(id='angellist' type='radio' ng-model='isChecked' value='4' name='badge')
            label(for="thumbsdown" ng-class="{'selectedBadge': isChecked== 5}")
              i.big.badge.thumbs.down.icon
            input.badgeRadio(id='thumbsdown' type='radio' ng-model='isChecked' value='5' name='badge')
            label(for="spy" ng-class="{'selectedBadge': isChecked== 6}")
              i.big.badge.spy.icon
            input.badgeRadio(id='spy' type='radio' ng-model='isChecked' value='6' name='badge')
            label(for="cameraretro" ng-class="{'selectedBadge': isChecked== 7}")
              i.big.badge.camera.retro.icon
            input.badgeRadio(id='cameraretro' type='radio' ng-model='isChecked' value='7' name='badge')
            label(for="trophy" ng-class="{'selectedBadge': isChecked== 8}")
              i.big.badge.trophy.icon
            input.badgeRadio(id='trophy' type='radio' ng-model='isChecked' value='8' name='badge')
            label(for="map" ng-class="{'selectedBadge': isChecked== 9}")
              i.big.badge.map.icon
            input.badgeRadio(id='map' type='radio' ng-model='isChecked' value='9' name='badge')
            label(for="money" ng-class="{'selectedBadge': isChecked== 10}")
              i.big.badge.money.icon
            input.badgeRadio(id='money' type='radio' ng-model='isChecked' value='10' name='badge')
            label(for="student" ng-class="{'selectedBadge': isChecked== 11}")
              i.big.badge.student.icon
            input.badgeRadio(id='student' type='radio' ng-model='isChecked' value='11' name='badge')
        .field
          textarea
        .ui.labeled.icon.violet.button
          i.icon.edit
          |  Add Review
        .ui.violet.button(ng-click='addReviewForm()')
          | Cancel
      .ui.violet.button(ng-click='addReviewForm()', ng-show='!addingReview')
        | Add A Review
    .ui.tab.display(data-tab="packages")
      .ui.top.attached.tabular.menu
        a.item.active(ng-mouseover="pacTab()" data-tab='first') One
        a.item(ng-mouseover="pacTab()" data-tab='second') Two
        a.item(ng-mouseover="pacTab()" data-tab='third') Three
      .ui.bottom.attached.tab.segment.active(data-tab='first')
        .ui.sixteen.column.grid
          .row
            .sixteen.wide.column.profile
              table
                tr
                  td
                    h4 Name: 
                  td 
                    | Let me show you 
                tr
                  td
                    h4 Price: 
                  td 
                    | $ 10
                tr
                  td
                    h4 Benefits:
                  td 
                    ul
                      li Transportation
                      li Hospitality
                      li Clubs
                      li Sight Seeing
                tr
                  td
                    h4 Description:
                  td
          .row
            .sixteen.wide.column
              .ui.segment
                | I'll show you around town, go to the hotest clubs, have fun
      .ui.bottom.attached.tab.segment(data-tab='second')
        | Second Package
      .ui.bottom.attached.tab.segment(data-tab='third')
        | Third Package
    .ui.tab.display(data-tab="blog")
      .ui.comments.blog
        .comment
          .content
            .author First Day Abroad
            .metadata
              .date 2 days ago
            .text
              | Hey guys, I hope this example comment is helping you read this documentation.
        .comment
          .content
            .author First Day Abroad
            .metadata
              .date 2 days ago
            .text
              | Hey guys, I hope this example comment is helping you read this documentation.
        .comment
          .content
            .author First Day Abroad
            .metadata
              .date 2 days ago
            .text
              | Hey guys, I hope this example comment is helping you read this documentation.
        .comment
          .content
            .author First Day Abroad
            .metadata
              .date 2 days ago
            .text
              | Hey guys, I hope this example comment is helping you read this documentation.
              | Hey guys, I hope this example comment is helping you read this documentation.
              | Hey guys, I hope this example comment is helping you read this documentation.
        .comment
          .content
            .author First Day Abroad
            .metadata
              .date 2 days ago
            .text
              | Hey guys, I hope this example comment is helping you read this documentation.
        form.ui.reply.form(ng-show="addingPost")
          h3 New Post
          .field
            input(type='text', name='title', placeholder='Title')
          .field
            textarea
          .ui.labeled.icon.violet.button
            i.icon.edit
            |  Add Post
          .ui.violet.button(ng-click='addPostForm()')
            | Cancel
        .ui.violet.button(ng-click='addPostForm()', ng-show='!addingPost')
          | Add A Post
    .ui.tab.display(data-tab="connections")
      h3 These are my connections
    .ui.tab.display(data-tab="conversations")
      .ui.accordion
        .title
          i.dropdown.icon
          |     Matt Grown
        .content
          .ui.comments
            .comment
              .content
                a.author Matt
                .metadata
                  span.date Today at 5:42PM
                .text
                  | How artistic!
                .actions
            .comment
              .content
                a.author Elliot Fu
                .metadata
                  span.date Yesterday at 12:30AM
                .text
                  p This has been very useful for my research. Thanks as well!
                .actions
            .comment
              .content
                a.author Joe Henderson
                .metadata
                  span.date 5 days ago
                .text
                  | Dude, this is awesome. Thanks so much
                .actions
                  a.reply Reply
            form.ui.reply.form
              .field
                textarea
              .ui.blue.labeled.submit.icon.button
                i.icon.edit
                |  Add Reply
        .title
          i.dropdown.icon
          |     Iago Nino
        .content
          p
            | There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.
        .title
          i.dropdown.icon
          |     Eliza Gilmore
        .content
          p
            | Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.
          p
            | A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.
      h3 Send A message
      form.ui.reply.form
        .field
          textarea
        .ui.blue.labeled.submit.icon.button
          i.icon.edit
          |  Send
    .ui.tab.display(data-tab="settings")
      .ui.success.message#bioSuccessMessage
        i.close.icon
        .header
          | Success!
        p Your Bio has been saved
      h1 Edit
      .ui.styled.accordion
        .title.bioTab
          i.dropdown.icon
          |     Bio
        .content
          .transition.hidden
            form(name="editBioForm").ui.reply.form
              .field
                input(type="text" name='name' ng-model="user.name" placeholder="Name" required)
              .field
                .ui.fluid.search.selection.dropdown(my-dropdown)
                  input(type='hidden', name='country')
                  i.dropdown.icon
                  .default.text.countryDropdown Select Country
                  .menu
                    .item(data-value='af')
                      i.af.flag
                      | Afghanistan
                    .item(data-value='ax')
                      i.ax.flag
                      | Aland Islands
                    .item(data-value='al')
                      i.al.flag
                      | Albania
                    .item(data-value='dz')
                      i.dz.flag
                      | Algeria
                    .item(data-value='as')
                      i.as.flag
                      | American Samoa
                    .item(data-value='ad')
                      i.ad.flag
                      | Andorra
                    .item(data-value='ao')
                      i.ao.flag
                      | Angola
                    .item(data-value='ai')
                      i.ai.flag
                      | Anguilla
                    .item(data-value='ag')
                      i.ag.flag
                      | Antigua
                    .item(data-value='ar')
                      i.ar.flag
                      | Argentina
                    .item(data-value='am')
                      i.am.flag
                      | Armenia
                    .item(data-value='aw')
                      i.aw.flag
                      | Aruba
                    .item(data-value='au')
                      i.au.flag
                      | Australia
                    .item(data-value='at')
                      i.at.flag
                      | Austria
                    .item(data-value='az')
                      i.az.flag
                      | Azerbaijan
                    .item(data-value='bs')
                      i.bs.flag
                      | Bahamas
                    .item(data-value='bh')
                      i.bh.flag
                      | Bahrain
                    .item(data-value='bd')
                      i.bd.flag
                      | Bangladesh
                    .item(data-value='bb')
                      i.bb.flag
                      | Barbados
                    .item(data-value='by')
                      i.by.flag
                      | Belarus
                    .item(data-value='be')
                      i.be.flag
                      | Belgium
                    .item(data-value='bz')
                      i.bz.flag
                      | Belize
                    .item(data-value='bj')
                      i.bj.flag
                      | Benin
                    .item(data-value='bm')
                      i.bm.flag
                      | Bermuda
                    .item(data-value='bt')
                      i.bt.flag
                      | Bhutan
                    .item(data-value='bo')
                      i.bo.flag
                      | Bolivia
                    .item(data-value='ba')
                      i.ba.flag
                      | Bosnia
                    .item(data-value='bw')
                      i.bw.flag
                      | Botswana
                    .item(data-value='bv')
                      i.bv.flag
                      | Bouvet Island
                    .item(data-value='br')
                      i.br.flag
                      | Brazil
                    .item(data-value='vg')
                      i.vg.flag
                      | British Virgin Islands
                    .item(data-value='bn')
                      i.bn.flag
                      | Brunei
                    .item(data-value='bg')
                      i.bg.flag
                      | Bulgaria
                    .item(data-value='bf')
                      i.bf.flag
                      | Burkina Faso
                    .item(data-value='ar')
                      i.ar.flag
                      | Burma
                    .item(data-value='bi')
                      i.bi.flag
                      | Burundi
                    .item(data-value='tc')
                      i.tc.flag
                      | Caicos Islands
                    .item(data-value='kh')
                      i.kh.flag
                      | Cambodia
                    .item(data-value='cm')
                      i.cm.flag
                      | Cameroon
                    .item(data-value='ca')
                      i.ca.flag
                      | Canada
                    .item(data-value='cv')
                      i.cv.flag
                      | Cape Verde
                    .item(data-value='ky')
                      i.ky.flag
                      | Cayman Islands
                    .item(data-value='cf')
                      i.cf.flag
                      | Central African Republic
                    .item(data-value='td')
                      i.td.flag
                      | Chad
                    .item(data-value='cl')
                      i.cl.flag
                      | Chile
                    .item(data-value='cn')
                      i.cn.flag
                      | China
                    .item(data-value='cx')
                      i.cx.flag
                      | Christmas Island
                    .item(data-value='cc')
                      i.cc.flag
                      | Cocos Islands
                    .item(data-value='co')
                      i.co.flag
                      | Colombia
                    .item(data-value='km')
                      i.km.flag
                      | Comoros
                    .item(data-value='cg')
                      i.cg.flag
                      | Congo Brazzaville
                    .item(data-value='cd')
                      i.cd.flag
                      | Congo
                    .item(data-value='ck')
                      i.ck.flag
                      | Cook Islands
                    .item(data-value='cr')
                      i.cr.flag
                      | Costa Rica
                    .item(data-value='ci')
                      i.ci.flag
                      | Cote Divoire
                    .item(data-value='hr')
                      i.hr.flag
                      | Croatia
                    .item(data-value='cu')
                      i.cu.flag
                      | Cuba
                    .item(data-value='cy')
                      i.cy.flag
                      | Cyprus
                    .item(data-value='cz')
                      i.cz.flag
                      | Czech Republic
                    .item(data-value='dk')
                      i.dk.flag
                      | Denmark
                    .item(data-value='dj')
                      i.dj.flag
                      | Djibouti
                    .item(data-value='dm')
                      i.dm.flag
                      | Dominica
                    .item(data-value='do')
                      i.do.flag
                      | Dominican Republic
                    .item(data-value='ec')
                      i.ec.flag
                      | Ecuador
                    .item(data-value='eg')
                      i.eg.flag
                      | Egypt
                    .item(data-value='sv')
                      i.sv.flag
                      | El Salvador
                    .item(data-value='gb')
                      i.gb.flag
                      | England
                    .item(data-value='gq')
                      i.gq.flag
                      | Equatorial Guinea
                    .item(data-value='er')
                      i.er.flag
                      | Eritrea
                    .item(data-value='ee')
                      i.ee.flag
                      | Estonia
                    .item(data-value='et')
                      i.et.flag
                      | Ethiopia
                    .item(data-value='eu')
                      i.eu.flag
                      | European Union
                    .item(data-value='fk')
                      i.fk.flag
                      | Falkland Islands
                    .item(data-value='fo')
                      i.fo.flag
                      | Faroe Islands
                    .item(data-value='fj')
                      i.fj.flag
                      | Fiji
                    .item(data-value='fi')
                      i.fi.flag
                      | Finland
                    .item(data-value='fr')
                      i.fr.flag
                      | France
                    .item(data-value='gf')
                      i.gf.flag
                      | French Guiana
                    .item(data-value='pf')
                      i.pf.flag
                      | French Polynesia
                    .item(data-value='tf')
                      i.tf.flag
                      | French Territories
                    .item(data-value='ga')
                      i.ga.flag
                      | Gabon
                    .item(data-value='gm')
                      i.gm.flag
                      | Gambia
                    .item(data-value='ge')
                      i.ge.flag
                      | Georgia
                    .item(data-value='de')
                      i.de.flag
                      | Germany
                    .item(data-value='gh')
                      i.gh.flag
                      | Ghana
                    .item(data-value='gi')
                      i.gi.flag
                      | Gibraltar
                    .item(data-value='gr')
                      i.gr.flag
                      | Greece
                    .item(data-value='gl')
                      i.gl.flag
                      | Greenland
                    .item(data-value='gd')
                      i.gd.flag
                      | Grenada
                    .item(data-value='gp')
                      i.gp.flag
                      | Guadeloupe
                    .item(data-value='gu')
                      i.gu.flag
                      | Guam
                    .item(data-value='gt')
                      i.gt.flag
                      | Guatemala
                    .item(data-value='gw')
                      i.gw.flag
                      | Guinea-Bissau
                    .item(data-value='gn')
                      i.gn.flag
                      | Guinea
                    .item(data-value='gy')
                      i.gy.flag
                      | Guyana
                    .item(data-value='ht')
                      i.ht.flag
                      | Haiti
                    .item(data-value='hm')
                      i.hm.flag
                      | Heard Island
                    .item(data-value='hn')
                      i.hn.flag
                      | Honduras
                    .item(data-value='hk')
                      i.hk.flag
                      | Hong Kong
                    .item(data-value='hu')
                      i.hu.flag
                      | Hungary
                    .item(data-value='is')
                      i.is.flag
                      | Iceland
                    .item(data-value='in')
                      i.in.flag
                      | India
                    .item(data-value='io')
                      i.io.flag
                      | Indian Ocean Territory
                    .item(data-value='id')
                      i.id.flag
                      | Indonesia
                    .item(data-value='ir')
                      i.ir.flag
                      | Iran
                    .item(data-value='iq')
                      i.iq.flag
                      | Iraq
                    .item(data-value='ie')
                      i.ie.flag
                      | Ireland
                    .item(data-value='il')
                      i.il.flag
                      | Israel
                    .item(data-value='it')
                      i.it.flag
                      | Italy
                    .item(data-value='jm')
                      i.jm.flag
                      | Jamaica
                    .item(data-value='jp')
                      i.jp.flag
                      | Japan
                    .item(data-value='jo')
                      i.jo.flag
                      | Jordan
                    .item(data-value='kz')
                      i.kz.flag
                      | Kazakhstan
                    .item(data-value='ke')
                      i.ke.flag
                      | Kenya
                    .item(data-value='ki')
                      i.ki.flag
                      | Kiribati
                    .item(data-value='kw')
                      i.kw.flag
                      | Kuwait
                    .item(data-value='kg')
                      i.kg.flag
                      | Kyrgyzstan
                    .item(data-value='la')
                      i.la.flag
                      | Laos
                    .item(data-value='lv')
                      i.lv.flag
                      | Latvia
                    .item(data-value='lb')
                      i.lb.flag
                      | Lebanon
                    .item(data-value='ls')
                      i.ls.flag
                      | Lesotho
                    .item(data-value='lr')
                      i.lr.flag
                      | Liberia
                    .item(data-value='ly')
                      i.ly.flag
                      | Libya
                    .item(data-value='li')
                      i.li.flag
                      | Liechtenstein
                    .item(data-value='lt')
                      i.lt.flag
                      | Lithuania
                    .item(data-value='lu')
                      i.lu.flag
                      | Luxembourg
                    .item(data-value='mo')
                      i.mo.flag
                      | Macau
                    .item(data-value='mk')
                      i.mk.flag
                      | Macedonia
                    .item(data-value='mg')
                      i.mg.flag
                      | Madagascar
                    .item(data-value='mw')
                      i.mw.flag
                      | Malawi
                    .item(data-value='my')
                      i.my.flag
                      | Malaysia
                    .item(data-value='mv')
                      i.mv.flag
                      | Maldives
                    .item(data-value='ml')
                      i.ml.flag
                      | Mali
                    .item(data-value='mt')
                      i.mt.flag
                      | Malta
                    .item(data-value='mh')
                      i.mh.flag
                      | Marshall Islands
                    .item(data-value='mq')
                      i.mq.flag
                      | Martinique
                    .item(data-value='mr')
                      i.mr.flag
                      | Mauritania
                    .item(data-value='mu')
                      i.mu.flag
                      | Mauritius
                    .item(data-value='yt')
                      i.yt.flag
                      | Mayotte
                    .item(data-value='mx')
                      i.mx.flag
                      | Mexico
                    .item(data-value='fm')
                      i.fm.flag
                      | Micronesia
                    .item(data-value='md')
                      i.md.flag
                      | Moldova
                    .item(data-value='mc')
                      i.mc.flag
                      | Monaco
                    .item(data-value='mn')
                      i.mn.flag
                      | Mongolia
                    .item(data-value='me')
                      i.me.flag
                      | Montenegro
                    .item(data-value='ms')
                      i.ms.flag
                      | Montserrat
                    .item(data-value='ma')
                      i.ma.flag
                      | Morocco
                    .item(data-value='mz')
                      i.mz.flag
                      | Mozambique
                    .item(data-value='na')
                      i.na.flag
                      | Namibia
                    .item(data-value='nr')
                      i.nr.flag
                      | Nauru
                    .item(data-value='np')
                      i.np.flag
                      | Nepal
                    .item(data-value='an')
                      i.an.flag
                      | Netherlands Antilles
                    .item(data-value='nl')
                      i.nl.flag
                      | Netherlands
                    .item(data-value='nc')
                      i.nc.flag
                      | New Caledonia
                    .item(data-value='pg')
                      i.pg.flag
                      | New Guinea
                    .item(data-value='nz')
                      i.nz.flag
                      | New Zealand
                    .item(data-value='ni')
                      i.ni.flag
                      | Nicaragua
                    .item(data-value='ne')
                      i.ne.flag
                      | Niger
                    .item(data-value='ng')
                      i.ng.flag
                      | Nigeria
                    .item(data-value='nu')
                      i.nu.flag
                      | Niue
                    .item(data-value='nf')
                      i.nf.flag
                      | Norfolk Island
                    .item(data-value='kp')
                      i.kp.flag
                      | North Korea
                    .item(data-value='mp')
                      i.mp.flag
                      | Northern Mariana Islands
                    .item(data-value='no')
                      i.no.flag
                      | Norway
                    .item(data-value='om')
                      i.om.flag
                      | Oman
                    .item(data-value='pk')
                      i.pk.flag
                      | Pakistan
                    .item(data-value='pw')
                      i.pw.flag
                      | Palau
                    .item(data-value='ps')
                      i.ps.flag
                      | Palestine
                    .item(data-value='pa')
                      i.pa.flag
                      | Panama
                    .item(data-value='py')
                      i.py.flag
                      | Paraguay
                    .item(data-value='pe')
                      i.pe.flag
                      | Peru
                    .item(data-value='ph')
                      i.ph.flag
                      | Philippines
                    .item(data-value='pn')
                      i.pn.flag
                      | Pitcairn Islands
                    .item(data-value='pl')
                      i.pl.flag
                      | Poland
                    .item(data-value='pt')
                      i.pt.flag
                      | Portugal
                    .item(data-value='pr')
                      i.pr.flag
                      | Puerto Rico
                    .item(data-value='qa')
                      i.qa.flag
                      | Qatar
                    .item(data-value='re')
                      i.re.flag
                      | Reunion
                    .item(data-value='ro')
                      i.ro.flag
                      | Romania
                    .item(data-value='ru')
                      i.ru.flag
                      | Russia
                    .item(data-value='rw')
                      i.rw.flag
                      | Rwanda
                    .item(data-value='sh')
                      i.sh.flag
                      | Saint Helena
                    .item(data-value='kn')
                      i.kn.flag
                      | Saint Kitts and Nevis
                    .item(data-value='lc')
                      i.lc.flag
                      | Saint Lucia
                    .item(data-value='pm')
                      i.pm.flag
                      | Saint Pierre
                    .item(data-value='vc')
                      i.vc.flag
                      | Saint Vincent
                    .item(data-value='ws')
                      i.ws.flag
                      | Samoa
                    .item(data-value='sm')
                      i.sm.flag
                      | San Marino
                    .item(data-value='gs')
                      i.gs.flag
                      | Sandwich Islands
                    .item(data-value='st')
                      i.st.flag
                      | Sao Tome
                    .item(data-value='sa')
                      i.sa.flag
                      | Saudi Arabia
                    .item(data-value='sn')
                      i.sn.flag
                      | Senegal
                    .item(data-value='cs')
                      i.cs.flag
                      | Serbia
                    .item(data-value='rs')
                      i.rs.flag
                      | Serbia
                    .item(data-value='sc')
                      i.sc.flag
                      | Seychelles
                    .item(data-value='sl')
                      i.sl.flag
                      | Sierra Leone
                    .item(data-value='sg')
                      i.sg.flag
                      | Singapore
                    .item(data-value='sk')
                      i.sk.flag
                      | Slovakia
                    .item(data-value='si')
                      i.si.flag
                      | Slovenia
                    .item(data-value='sb')
                      i.sb.flag
                      | Solomon Islands
                    .item(data-value='so')
                      i.so.flag
                      | Somalia
                    .item(data-value='za')
                      i.za.flag
                      | South Africa
                    .item(data-value='kr')
                      i.kr.flag
                      | South Korea
                    .item(data-value='es')
                      i.es.flag
                      | Spain
                    .item(data-value='lk')
                      i.lk.flag
                      | Sri Lanka
                    .item(data-value='sd')
                      i.sd.flag
                      | Sudan
                    .item(data-value='sr')
                      i.sr.flag
                      | Suriname
                    .item(data-value='sj')
                      i.sj.flag
                      | Svalbard
                    .item(data-value='sz')
                      i.sz.flag
                      | Swaziland
                    .item(data-value='se')
                      i.se.flag
                      | Sweden
                    .item(data-value='ch')
                      i.ch.flag
                      | Switzerland
                    .item(data-value='sy')
                      i.sy.flag
                      | Syria
                    .item(data-value='tw')
                      i.tw.flag
                      | Taiwan
                    .item(data-value='tj')
                      i.tj.flag
                      | Tajikistan
                    .item(data-value='tz')
                      i.tz.flag
                      | Tanzania
                    .item(data-value='th')
                      i.th.flag
                      | Thailand
                    .item(data-value='tl')
                      i.tl.flag
                      | Timorleste
                    .item(data-value='tg')
                      i.tg.flag
                      | Togo
                    .item(data-value='tk')
                      i.tk.flag
                      | Tokelau
                    .item(data-value='to')
                      i.to.flag
                      | Tonga
                    .item(data-value='tt')
                      i.tt.flag
                      | Trinidad
                    .item(data-value='tn')
                      i.tn.flag
                      | Tunisia
                    .item(data-value='tr')
                      i.tr.flag
                      | Turkey
                    .item(data-value='tm')
                      i.tm.flag
                      | Turkmenistan
                    .item(data-value='tv')
                      i.tv.flag
                      | Tuvalu
                    .item(data-value='ug')
                      i.ug.flag
                      | Uganda
                    .item(data-value='ua')
                      i.ua.flag
                      | Ukraine
                    .item(data-value='ae')
                      i.ae.flag
                      | United Arab Emirates
                    .item(data-value='us')
                      i.us.flag
                      | United States
                    .item(data-value='uy')
                      i.uy.flag
                      | Uruguay
                    .item(data-value='um')
                      i.um.flag
                      | Us Minor Islands
                    .item(data-value='vi')
                      i.vi.flag
                      | Us Virgin Islands
                    .item(data-value='uz')
                      i.uz.flag
                      | Uzbekistan
                    .item(data-value='vu')
                      i.vu.flag
                      | Vanuatu
                    .item(data-value='va')
                      i.va.flag
                      | Vatican City
                    .item(data-value='ve')
                      i.ve.flag
                      | Venezuela
                    .item(data-value='vn')
                      i.vn.flag
                      | Vietnam
                    .item(data-value='wf')
                      i.wf.flag
                      | Wallis and Futuna
                    .item(data-value='eh')
                      i.eh.flag
                      | Western Sahara
                    .item(data-value='ye')
                      i.ye.flag
                      | Yemen
                    .item(data-value='zm')
                      i.zm.flag
                      | Zambia
                    .item(data-value='zw')
                      i.zw.flag
                      | Zimbabwe
              .field
                input(type="text" name='language' placeholder="Language" ng-model="user.language")
              .field
                input(type="text" name="contact" placeholder="Contact Info" ng-model="user.email")
              .field
                textarea(name="about" ng-model="user.about")
              .ui.blue.labeled.submit.icon.button(ng-class="{loading: sendingInfo}" ng-click="submitBioForm()" ng-disabled="editBioForm.$invalid")
                i.icon.edit
                |  Edit Bio
        .title
          i.dropdown.icon
          |     Packages
        .content
          .transition.visible
            h3 Package One
            form.ui.reply.form
              .field
                textarea
              .ui.blue.labeled.submit.icon.button
                i.icon.edit
                |  Add Package
            h3 Package Two
            form.ui.reply.form
              .field
                textarea
              .ui.blue.labeled.submit.icon.button
                i.icon.edit
                |  Add Package
            h3 Package Three
            form.ui.reply.form
              .field
                textarea
              .ui.blue.labeled.submit.icon.button
                i.icon.edit
                |  Add Package
        .title
          i.dropdown.icon
          |     My World
        .content
          p.transition.visible(style='display: block !important;')
            | Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.
          p.transition.visible(style='display: block !important;')
            | A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.

script(src='/map/allmap.min.js')
