button.collapsedMenu(ng-click="sidebar()") &#9776;
.ui.left.sidebar.vertical.menu
  .ui.vertical.fluid.tabular.menu
    .profile
      .profileImage
    h3 LLama
    a.item(ng-click="sidebar()" data-tab="bio")
      | Bio
    a.item(ng-click="sidebar()" data-tab="badges")
      | Badges
    a.item(ng-click="sidebar()" data-tab="packages")
      | Packages
    a.item(ng-click="sidebar()" data-tab="blog")
      | Blog
    a.item.active(ng-click="sidebar()" data-tab="world")
      | My World
    a.item(ng-click="sidebar()" data-tab="conversations")
      | Conversations
    a.item(ng-click="sidebar()" data-tab="settings")
      | Settings
a(href='/')
  img(class='profileLogo', src='./images/llama.png')
.ui.grid
  .four.wide.computer.column
    .ui.vertical.fluid.tabular.menu.fullScreen
      .profile
        .profileImage
      h3.profileName LLama
      a.item(ng-mouseover="tab()" data-tab="bio")
        | Bio
      a.item(ng-mouseover="tab()" data-tab="badges")
        | Badges
      a.item(ng-mouseover="tab()" data-tab="packages")
        | Packages
      a.item(ng-mouseover="tab()" data-tab="blog")
        | Blog
      a.item.active(ng-mouseover="tab()" data-tab="world")
        | My World
      a.item(ng-mouseover="tab()" data-tab="conversations")
        | Conversations
      a.item(ng-mouseover="tab()" data-tab="settings")
        | Settings
  .twelve.wide.computer.sixteen.wide.tablet.stretched.column
    .ui.tab.display(data-tab="bio")
      .ui.sixteen.column.grid
        .row
          h2 Save the Cheerleader, Save the World
        .row
          .sixteen.wide.column.profile
            table
              tr
                td
                  h4 Name: 
                td 
                  | Roberto
                td
              tr
                td
                  h4 Country:
                td 
                  | Venezuela
              tr
                td
                  h4 Languages:
                td 
                  | Spanish, English, and Italian
              tr
                td
                  h4 Contact:
                td 
                  | berto.ort@gmail.com | 303.956.5777
              tr
                td
                  h4 About me:
        .row
          .sixteen.wide.column
            .ui.segment Hi, I am awesome. Let me show you.
    .ui.tab.display(data-tab="badges")
      h3 These are my reviews
      i.coffee.icon
      i.food.icon
      i.game.icon
      i.heart.icon
      i.angellist.icon
      i.thumbs.down.icon
      i.spy.icon
      i.camera.retro.icon
      i.trophy.icon
      i.map.icon
      i.money.icon
      i.student.icon
      .ui.items
        .item
          .badge
            i.student.icon.ui.big
          .content
            a.header Stevie Feliciano
            .description
              p
                | Stevie Feliciano is a 
                a library scientist
                |  living in New York City. She likes to spend her time reading, running, and writing.
        .item
          .badge
            i.spy.icon.ui.big
          .content
            a.header Veronika Ossi
            .description
              p
                | Veronika Ossi is a set designer living in New York who 
                a enjoys
                |  kittens, music, and partying.
        .item
          .badge
            i.heart.icon.ui.big
          .content
            a.header Jenny Hess
            .description
              p
                | Jenny is a student studying Media Management at 
                a the New School
                | .
    .ui.tab.display(data-tab="packages")
      .ui.top.attached.tabular.menu
        a.item.active(ng-mouseover="pacTab()" data-tab='first') First
        a.item(ng-mouseover="pacTab()" data-tab='second') Second
        a.item(ng-mouseover="pacTab()" data-tab='third') Third
      .ui.bottom.attached.tab.segment.active(data-tab='first')
        | First(free) Package
      .ui.bottom.attached.tab.segment(data-tab='second')
        | Second Package
      .ui.bottom.attached.tab.segment(data-tab='third')
        | Third Package
    .ui.tab.display(data-tab="blog")
      .ui.comments.blog
        .comment
          .content
            .author First Day Abroad
            .metadata
              .date 2 days ago
            .text
              | Hey guys, I hope this example comment is helping you read this documentation.
        .comment
          .content
            .author First Day Abroad
            .metadata
              .date 2 days ago
            .text
              | Hey guys, I hope this example comment is helping you read this documentation.
        .comment
          .content
            .author First Day Abroad
            .metadata
              .date 2 days ago
            .text
              | Hey guys, I hope this example comment is helping you read this documentation.
        .comment
          .content
            .author First Day Abroad
            .metadata
              .date 2 days ago
            .text
              | Hey guys, I hope this example comment is helping you read this documentation.
              | Hey guys, I hope this example comment is helping you read this documentation.
              | Hey guys, I hope this example comment is helping you read this documentation.
        .comment
          .content
            .author First Day Abroad
            .metadata
              .date 2 days ago
            .text
              | Hey guys, I hope this example comment is helping you read this documentation.
        form.ui.reply.form
          .field
            textarea
          .ui.blue.labeled.submit.icon.button
            i.icon.edit
            |  Add A Blog
    .ui.tab.display.active(data-tab="world")
      h3 This is my world
      #personalMap
    .ui.tab.display(data-tab="conversations")
      .ui.accordion
        .title
          i.dropdown.icon
          |     Matt Grown
        .content
          .ui.comments
            .comment
              .content
                a.author Matt
                .metadata
                  span.date Today at 5:42PM
                .text
                  | How artistic!
                .actions
            .comment
              .content
                a.author Elliot Fu
                .metadata
                  span.date Yesterday at 12:30AM
                .text
                  p This has been very useful for my research. Thanks as well!
                .actions
            .comment
              .content
                a.author Joe Henderson
                .metadata
                  span.date 5 days ago
                .text
                  | Dude, this is awesome. Thanks so much
                .actions
                  a.reply Reply
            form.ui.reply.form
              .field
                textarea
              .ui.blue.labeled.submit.icon.button
                i.icon.edit
                |  Add Reply
        .title
          i.dropdown.icon
          |     Iago Nino
        .content
          p
            | There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.
        .title
          i.dropdown.icon
          |     Eliza Gilmore
        .content
          p
            | Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.
          p
            | A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.
      h3 Send A message
      form.ui.reply.form
        .field
          textarea
        .ui.blue.labeled.submit.icon.button
          i.icon.edit
          |  Send
    .ui.tab.display(data-tab="settings")
      h1 Edit
      .ui.styled.accordion
        .title
          i.dropdown.icon
          |     Bio
        .content
          .transition.hidden
            form.ui.reply.form
              .field
                textarea
              .ui.blue.labeled.submit.icon.button
                i.icon.edit
                |  Edit Bio
        .title
          i.dropdown.icon
          |     Packages
        .content
          .transition.visible
            h3 Package One
            form.ui.reply.form
              .field
                textarea
              .ui.blue.labeled.submit.icon.button
                i.icon.edit
                |  Add Package
            h3 Package Two
            form.ui.reply.form
              .field
                textarea
              .ui.blue.labeled.submit.icon.button
                i.icon.edit
                |  Add Package
            h3 Package Three
            form.ui.reply.form
              .field
                textarea
              .ui.blue.labeled.submit.icon.button
                i.icon.edit
                |  Add Package
        .title
          i.dropdown.icon
          |     My World
        .content
          p.transition.visible(style='display: block !important;')
            | Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.
          p.transition.visible(style='display: block !important;')
            | A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.
script(src='/map/allmap.min.js')
